In [ ]:
import numpy as np

np.random.randint(100)

74

# **Project using content-based filtering**

Link do c√≥digo an√°lisado: [content base movie recommend system](https://www.kaggle.com/code/monawankhede/content-base-movie-recommend-system)

## O que √© content-base filtering üò∞

O projeto utiliza filtragem baseada em conte√∫do, ou seja,  envolve recomenda√ß√£o ou classifica√ß√£o de itens com base em suas caracter√≠sticas ou conte√∫do. Esse m√©todo de filtragem analisa as informa√ß√µes intr√≠nsecas dos itens, como suas descri√ß√µes, atributos ou tags, para encontrar similaridades e fazer recomenda√ß√µes ou classifica√ß√µes. A m√©trica de similaridade utilizada √© o kernel linear, o c√°lculo √© feito usando o produto escalar entre os vetores de caracter√≠sticas dos filmes, que √© usada para medir a semelhan√ßa entre dois vetores, neste caso, os vetores de caracter√≠sticas dos filmes que est√£o na coluna ***'metadata'***.

## Quais as colunas de feature ‚ùì

O data set utiliza as colunas ***'movieId'***, ***'title'***, **'metadata'**, **'year'** para fazer a recomenda√ß√£o dos filmes.

## Quais as colunas de r√≥tulo ‚ùì

No processo de recomenda√ß√£o de filmes, utiliza-se uma fun√ß√£o que analisa as caracter√≠sticas do filme inserido, como suas tags e g√™nero, a fim de encontrar outros filmes com similaridade nessas informa√ß√µes. A fun√ß√£o "pega" o ID do t√≠tulo do filme fornecido como entrada e busca por filmes que compartilhem tags e g√™nero semelhantes. Dessa forma, a fun√ß√£o utiliza o conte√∫do do filme, representado pela coluna de ***'metadata'*** e retorna o ***'index'*** e ***'title'***.

## Vantagens ‚úÖ

Essa abordagem baseada em conte√∫do √© √∫til para sugerir filmes relacionados, ***pois considera as caracter√≠sticas intr√≠nsecas dos filmes em vez de depender das prefer√™ncias de outros usu√°rios.*** Assim, a recomenda√ß√£o √© personalizada com base nas caracter√≠sticas espec√≠ficas do filme de interesse.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# Defina o tamanho do dataset desejado
tamanho_dataset = 1000

# Exemplo de colunas de um dataset de publica√ß√µes
post_id = np.arange(1, tamanho_dataset + 1)
title = np.random.choice(['Post 1', 'Post 2', 'Post 3'], tamanho_dataset)
genre =np.random.choice(['Python', 'Front-end', 'Finances', 'Back-end', 'Design'], tamanho_dataset)

# Crie um dicion√°rio com os dados
dados = {
    'postId': post_id,
    'title': title,
    'genres': genre
}

# Crie um DataFrame usando o dicion√°rio de dados
df = pd.DataFrame(dados)

# Salve o DataFrame em um arquivo CSV
df.to_csv('dataset_post.csv', index=False)

### Passo 1 : Importar os arquivos necess√°rios

In [ ]:
movie = pd.read_csv("/content/sample_data/movies.csv")
movie

FileNotFoundError: ignored

In [ ]:
post = pd.read_csv("/content/dataset_post.csv")
post

     postId   title     genres
0         1  Post 1     Design
1         2  Post 1     Design
2         3  Post 1  Front-end
3         4  Post 3   Back-end
4         5  Post 3   Finances
..      ...     ...        ...
995     996  Post 3   Finances
996     997  Post 2     Python
997     998  Post 2     Design
998     999  Post 2   Back-end
999    1000  Post 2     Python

[1000 rows x 3 columns]

### Passo 2 : Pr√©-processamento e limpeza de dados

In [ ]:
#Verifica se h√° t√≠tulos duplicados
movie["title"].unique()

In [ ]:
#Cria uma nova coluna com o ano que est√° no t√≠tulo dos filmes
movie["Year"] = movie.title.str.extract("(\(\d\d\d\d\))" ,expand = True)
movie["Year"]

In [ ]:
#Remover '()' do ano
movie["Year"] = movie.title.str.extract("(\d\d\d\d)" ,expand = True)
movie["Year"]

In [ ]:
#Removendo qualquer ano de lan√ßamento presente nos t√≠tulos dos filmes, substituindo-os por espa√ßos em branco
movie["title"]= movie.title.str.replace("(\(\d\d\d\d\))","")
movie

In [ ]:
#Removendo espa√ßos extras no √≠nicio e fim do t√≠tulo
movie["title"]= movie["title"].apply(lambda x: x.strip())
movie.head(3)

In [ ]:
post["title"]= post["title"].apply(lambda x: x.strip())
post.head(3)

   postId   title     genres
0       1  Post 1     Design
1       2  Post 1     Design
2       3  Post 1  Front-end

In [ ]:
#Transformando todos os elementos da coluna 'genres' em letras min√∫sculas
movie["genres"] = movie["genres"].apply(lambda x:x.lower())
movie

In [ ]:
post["genres"] = post["genres"].apply(lambda x:x.lower())
post

     postId   title     genres
0         1  Post 1     design
1         2  Post 1     design
2         3  Post 1  front-end
3         4  Post 3   back-end
4         5  Post 3   finances
..      ...     ...        ...
995     996  Post 3   finances
996     997  Post 2     python
997     998  Post 2     design
998     999  Post 2   back-end
999    1000  Post 2     python

[1000 rows x 3 columns]

Extra√ß√£o de dados de outra tabela

In [ ]:
#Importando o arquivo 'tags.csv'
tag = pd.read_csv("/content/sample_data/tags.csv")
tag.head(3)

In [ ]:
# Defina o tamanho do dataset desejado
tamanho_dataset = 1000

# Exemplo de colunas de um dataset de publica√ß√µes
user_id = np.random.randint(1, 100, tamanho_dataset)
post_id = np.arange(1, tamanho_dataset + 1)
tag_post = np.random.choice(['Post 1', 'Post 2', 'Post 3'], tamanho_dataset)
timestamp = np.random.choice(['Python', 'Front-end', 'Finances', 'Back-end', 'Design'], tamanho_dataset)

# Crie um dicion√°rio com os dados
dados = {
    'userId': user_id,
    'postId': post_id,
    'tag': tag_post,
    'timestamp': timestamp
}

# Crie um DataFrame usando o dicion√°rio de dados
df = pd.DataFrame(dados)

# Salve o DataFrame em um arquivo CSV
df.to_csv('dataset_tags.csv', index=False)

In [ ]:
tag_data = pd.read_csv("/content/dataset_tags.csv")
tag_data.head(5)

   userId  postId     tag  timestamp
0      77       1  Post 2  Front-end
1      43       2  Post 1  Front-end
2      11       3  Post 3  Front-end
3      75       4  Post 2   Finances
4      58       5  Post 2     Design

Faz merge das colunas das tabelas

In [ ]:
#Merge arquivos 'movie' e 'tag'
df = pd.merge(movie,tag,on="movieId",how="left")
df.head(3)

In [ ]:
#Criando metadata ao adicionar g√™nero e tags
df.fillna("", inplace =True) #preenche os valores ausentes (NaN)
df = pd.DataFrame(df.groupby("movieId")["tag"].apply(lambda x: "%s" % " ".join(x))) # Essa fun√ß√£o junta os valores da coluna "tag" separados por espa√ßo em branco.
df

In [ ]:
#merge movie and df dataset
new_df = pd.merge(movie,df ,on = "movieId" ,how="left")
new_df["metadata"] = new_df[["tag","genres"]].apply(lambda x: " ".join(x),axis=1)
new_df["metadata"]

In [ ]:
#Armazena as colunas 'movieId' 'title' 'metadata' 'year' no novo dataser (new_df)
new_df = new_df[["movieId","title","metadata","Year"]]
new_df

In [ ]:
# split |  from metadata
new_df["metadata"]=new_df.metadata.str.split("|")
new_df

In [ ]:
#Tamanho do dataset final
new_df.shape

In [ ]:
#Remove todos espa√ßos extra da coluna de metadata
new_df['metadata']=new_df['metadata'].apply(lambda x:[i.replace(" ","") for i in x])
new_df

In [ ]:
# join metadata spaces
new_df['metadata']=new_df['metadata'].apply(lambda x:" ".join(x))
new_df

In [ ]:
#Da um check na new_df
new_df

In [ ]:
#Encontra a posi√ß√£o do index
x = new_df[new_df["title"]=="Jumanji"].index
x

In [ ]:
#Check elemento 0 no new_df
new_df['metadata'][0]

In [ ]:
#Check valores do new_df
new_df.values

In [ ]:
# check type of new_df
type(new_df)

In [ ]:
# check shape of dataframe
new_df.shape

### Passo 3 : Convers√£o do DataFrame (nem_df) em uma matriz esparsa (sparse matrix)

In [ ]:
#Criar um vetor utilizando a biblioteca TfidfVectorizer.
from sklearn.feature_extraction.text import TfidfVectorizer
tfid = TfidfVectorizer(stop_words='english') #remover palavras comuns em ingl√™s que n√£o s√£o relevantes para a an√°lise.
new_df['metadata'] = new_df['metadata'].fillna('')

In [ ]:
tfv_matrix = tfid.fit_transform(new_df['metadata'])
tfv_matrix

In [ ]:
#Check tamanho da matriz
tfv_matrix.shape

In [ ]:
# import linear_kernel from sklearn
from sklearn.metrics.pairwise import linear_kernel
###Calcular o kernel sigmoide.
sig = linear_kernel(tfv_matrix, tfv_matrix)

In [ ]:
#Guarda index do title
indices = pd.Series(new_df.index, index=new_df["title"])

In [ ]:
indices

In [ ]:
indices["Toy Story"]

### Passo 4 : Criando a fun√ß√£o de recomenda√ß√£o de filme

In [ ]:
def recomend_movie(title,cosine_sin=sig):
    idx = indices[title]
    sim_scores = enumerate(cosine_sin[idx])
    sim_scores = sorted(sim_scores, key=lambda x : x[1], reverse=True)
    #Quantos filmes ir√° recomendar
    sim_scores = sim_scores[1:10]
    movies_indices = [i[0] for i in sim_scores]
    movie_rec = new_df['title'].iloc[movies_indices].reset_index()
    print(movie_rec)

### Passo 5 : Recomenda√ß√£o ‚≠ê

In [ ]:
recomend_movie("Toy Story")

In [ ]:
recomend_movie("Thumbelina")

In [ ]:
recomend_movie("Grumpier Old Men")